<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Feel free to contact me on my </p>
        <a href="https://www.linkedin.com/in/johnmdrogers/">LinkedIn!</a>
    </div>

    {{>footer}}
</body>

</html>